body {
    background-color: #013029;
}

.warmupWeights {
    display: none;
}

/* centers stuff */
.center {
    text-align: center;
    margin: auto;
}

.form-control {
    /* Center Form */
    margin: auto;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}