body {
    background-color: #013029;
    /*background-color: #445452;*/
}

.form {
    text-align: center;
}

.form-control {
    /* center form controls */
    margin: auto;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

.accordion
{
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: calc(0.25rem - 1px);
}