{% extends "layout.html" %}

{% block main %}
    <!-- This acts kinda like a nav bar -->
    <div class="card-header">
        <div class="row m-0">
            <h2 class="col-sm">
                <a href="/" class="btn btn-primary">Back to Workouts</a>
            </h2>
            <h2 class="col- pl-3">
                <a href="/logout" class="btn btn-warning">Log out</a>
            </h2>
        </div>
    </div>
    <!-- Main part -->
    <div class="card-body center">
        <!-- The call to the disable function is there so that you don't accidentaly click the create button twice
        The create button is re-enabled when the server re-serves this page -->
        <form action="/create" method="post" onsubmit="disable('createBtn')">
            <div class="form-group">
                <input class="form-control" name="name" type="text" placeholder="Name of workout" required maxlength="200">
            </div>
            <div class="form-group">
                <input class="form-control" name="current" type="number" placeholder="Current weight" min="0" max="5000">
            </div>
            <button type="submit" type="resets" id="createBtn" class="btn btn-primary">Create</button>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="../static/js/helpers.js"></script>
{% endblock %}