{% extends "layout.html" %}

{% block title %}
    workouts
{% endblock %}

{% block main %}
<div class="card-header">
    <div class="row m-0">
        <h2 class="col-md">
            <a href="/create">Create Workout</a>
        </h2>
        <h2 class="col-">
            <a href="/logout" class="btn btn-outline-warning">Log out</a>
        </h2>
    </div>
</div>
<div class="card-body">
    <div class="accordion" id="accordion">
        {% for workout in workouts %}
            <div class="card">
                <div class="card-header" id="heading{{ workout.id }}">
                    <div class="row">
                        <h2 class="mb-0 col-md">
                            {{ workout.name }} -- {{ workout.weight }}
                        </h2>
                        <h2 class="mb-0 col-">
                            <button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#collapse{{ workout.id }}" aria-expanded="true" aria-controls="collapse">
                                Edit
                            </button>
                        </h2>
                    </div>
                </div>

                <div id="collapse{{ workout.id }}" class="collapse" aria-labelledby="heading{{ workout.id }}" data-parent="#accordion">
                    <div class="card-body">
                        <form action="/" method="post" class="form">
                            <div class="form-group">
                                <input class="invisible" name="workout" value="{{ workout.name }}">
                                <input class="form-control" type="number" name="weight" placeholder="New weight">
                                <button type="submit" class="btn btn-primary mt-2">Change</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}